http://localhost {

    #log {
    #    output file /var/log/caddy/access.log
    #    format json
    #}

    # Gitea under /gitea
    @gitea path /gitea*
    route @gitea {
        uri strip_prefix /gitea
        reverse_proxy gitea:3000
    }
    
    # Jenkins under /jenkins
    @jenkins path /jenkins* 
    reverse_proxy @jenkins jenkins:8080

    # Elasticsearch under /elasticsearch
    @elasticsearch path /elasticsearch*
    route @elasticsearch {
        uri strip_prefix /elasticsearch
        reverse_proxy elasticsearch:9200
    }

    # Kibana under /kibana
    @kibana path /kibana*
    route @kibana {
        uri strip_prefix /kibana
        reverse_proxy kibana:5601
    }

}

